@model ibta.edu.br.meet.Models.UserPreferences
@{
    Layout = null;
}
@Styles.Render("~/Content/preferencias.css")
@Styles.Render("~/Content/bootstrap.css")
<div class="container">
    <div class="inputs row">
        <div class="col-lg-4">
            <input class="form-control" type="date" />
        </div>
        <div class="col-lg-4">
            @Html.TextBoxFor(m => m.nome, new { @class = "form-control" })
        </div>
        <div class="col-lg-4">
            <div class="radio-inline">
                @Html.RadioButtonFor(m => m.sexo, "Masculino") Masculino
            </div>
            <div class="radio-inline">
                @Html.RadioButtonFor(m => m.sexo, "Feminino") Feminino
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-center">Qual a sua preferência?</h2>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="@Url.Action("newUsersChoice", "Account", new { type = "cueca", model = this.Model })">
                <img class="item" src="~/Content/img/cueca.png" />
            </a>
        </div>
        <div class="col-lg-4">
            <a href="@Url.Action("newUsersChoice", "Account", new { type="calcinheca"})">
                <img class="item" src="~/Content/img/calcinheca.png" />
            </a>
        </div>
        <div class="col-lg-4">
            <a href="@Url.Action("newUsersChoice", "Account", new { type="calcinha"})">
                <img class="item" src="~/Content/img/calcinha.png" />
            </a>
        </div>
    </div>
</div>


