@model ibta.edu.br.meet.Models.UserPreferences
@{
    Layout = null;
}
@Styles.Render("~/Content/preferencias.css")
@Styles.Render("~/Content/bootstrap.css")
<div class="container">
    
@using (Html.BeginForm())
{      <div class="inputs row">
        <div class="col-lg-4">
           @Html.TextBoxFor(model => model.dataNasc, new { @type = "date", @class="form-control" })
        </div>
        <div class="col-lg-4">
            @Html.TextBoxFor(m => m.nome, new { @class = "form-control" })
        </div>
        <div class="col-lg-4">
            <div class="radio-inline">
                @Html.RadioButtonFor(m => m.sexo, 1) Masculino
            </div>
            <div class="radio-inline">
                @Html.RadioButtonFor(m => m.sexo, 2) Feminino
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-center">Qual a sua preferência?</h2>
    </div>
    <div class="row">
        <div class="col-lg-4">
            @Html.RadioButtonFor(m => m.sexoAlvo, 1, new { @type="image", @src="/Content/img/cueca.png", @class="item"})
        </div>
        <div class="col-lg-4">
            @Html.RadioButtonFor(m => m.sexoAlvo, 2, new { @type = "image", @src = "/Content/img/calcinheca.png", @class = "item" })
        </div>
        <div class="col-lg-4">
            @Html.RadioButtonFor(m => m.sexoAlvo, 3, new { @type = "image", @src = "/Content/img/calcinha.png", @class = "item" })
        </div>
    </div>
    
}
</div>


